/**************************************************** REGLAAGE GENERAUX ****************************************************/

body {
    background: url("../img/hdbackground5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Blinker', sans-serif;
    


    
  
    
}

.hover:hover {
    color: black;
    background-color: #EAFCF4;
    color: rgb(36, 116, 190);
    box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.75);
    background-color: #66a3a0;
    border: 2rem grey;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out 0s;
}

a {
    text-decoration: none;
}

/********************************************************* CONNEXION *********************************************************/
.form {
    margin-top: 350px !important;

}

/***************************************************** ACCUEIL ADMIN *****************************************************/
/* Hover list */
.secondary:hover {
    background-color: #5a6268 !important;
    color: #fff;
}

.info:hover {
    background-color: #138496 !important;
    color: #fff;
}

.primary:hover:hover {
    background-color: #0069d9 !important;
    color: #fff;
}

/* bootton de déconnexion */
a>.btn .btn-danger .rounded-pill .offset-10 {
    background: red !important;
    color: #fff;
    box-shadow: -6px 6px 0 blue;
}

/* Menu accueil admin */
.listAdmin {
    margin: 0 auto;
    margin-top: 25rem;
}

/********************************** DECONNEXION **********************************/
.admin-btn {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: #befcfe;

    text-transform: uppercase;
    color: grey;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 black;
}
.list-group{
    margin-bottom: 50px;
}

/* page admin-gestion-article */

img.imgAdmin{
    width: 340px;
    height: 180px;
}
th.array-article {
   background: #063e76;

}
td.array-article {
    background:#063e76;
}
/* page form_article */

form.form-article{
    margin-top: 100px!important;
}
html body div.row div.col-md-12 a.return.btn.btn-outline-dark{
    right: 50px;
    margin-left: 24rem;
    margin-top: 5rem;
}
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* admin-Gestion-user */
html body div.container.mt-5{
    margin-top: 7rem !important;
}